@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

header{
    font-family: 'Montserrat';
    text-align: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-weight: 700;
    letter-spacing: 3px;
    padding: 20px;
    font-size: 50px;
}